@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.abaut {
    max-width: 1920px;

    &__body {
        max-width: 823px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__head {
        margin: 0px 0px 65px 0px;
        text-align: center;
    }

    &__title {
        margin: 0px 0px 30px 0px;
        text-align: center;
    }

    &__subtitle {
        font-family: Lato;
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #868585;
    }

    &__row {
        display: flex;
        font-size: 0;
        margin: 0px -15px;
    }

    &__colums {
        flex: 0 0 33.333%;
        padding: 0px 15px;
        text-align: center;
    }
}
.title {
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;
    &:after {
        content: "";
        position: absolute;
        width: 50px;
        bottom: 0;
        height: 1px;
        left: 50%;
        background-color: #000;
        margin: 0px 0px 0px -25px;
    }
}
.item-abaut {
    &__icon {
        width: 92px;
        height: 92px;
        border: #e2e2e2 solid 1px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto 40px auto;
    }

    &__title {
        font-family: Lato;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.16em;
        color: #000000;
        margin: 0px 0px 35px 0px;
    }

    &__subtitle {
        font-family: Lato;
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        color: #868585;
    }
}
